// Colors
$black: #000;
$yellow: #fee100;
$magenta: #ff3598;
$blue: #3b8bff;
$purple: #b13dfe;
$white: #fff;

$primary: $black;
$secondary: $yellow;
$terciary: $blue;

$colors: (
  'purple': #917dec,
  'orange': #ffa024,
  'blue': #40abcc,
  'red': #FA353E,
  'green': #3eb95f,
  'black': $black,
  'gray': #605f68
);

// Typography
$font-sans: MarkPro, 'Arial Narrow', Arial, sans-serif;
$font-serif: 'Varela Round', Georgia, serif;
$text-color: $white;
