// Colors
$primary: #00c559;
$black: #000;
$white: #fff;
$colors: (
  'orange': #F97516,
  'blue': #2E3AA6,
  'fuchsia': #B01FE2,
  'red': #FA353E,
  'purple': #5B01DA
);

// Typography
$font-sans: Flama, 'Arial Narrow', Arial, sans-serif;
$font-serif: 'Subway-Black', Georgia, serif;
$text-color: $white;
