// Colors
$black: #353535;
$yellow: #E3FF57;
$magenta: #DF5C8F;
$blue: #719ad7;
$purple: #9572c2;
$white: #fff;
$green: #5aba85;
$orange: #FF8A50;
$red: #ed585f;

$primary: $purple;
$secondary: $magenta;
$terciary: $orange;

$colors: (
  'purple': $purple,
  'orange': $orange,
  'yellow': $yellow,
  'blue': $blue,
  'magenta': $magenta,
  'red': $red,
  'green': $green,
  'black': $black,
  'gray': #605f68
);

// Typography
$font-sans: MarkPro, 'Arial Narrow', Arial, sans-serif;
$font-headline: 'Integral CF', sans-serif;
$font-rounded: 'Budokan Rounded', sans-serif;
$text-color: $white;
